.filters {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  text-align: left;
}

.filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.filter__item {
  margin-top: 20px;
  list-style-type: none;
}
