/* BUTTON */
.button-primary {
  padding: 8px 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: @base-white;
  background-color: @base-primary;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-primary:hover,
.button-primary:focus {
  background-color: @primary-lighter;
}

.button-primary:active {
  background-color: @primary-darker;
}

.button-primary:disabled {
  background-color: @base-grey;
}

.button-secondary {
  padding: 8px 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: @base-primary;
  background-color: @base-white;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-secondary:hover,
.button-secondary:focus {
  color: @base-white;
  background-color: @primary-lighter;
}

.button-secondary:active {
  color: @base-white;
  background-color: @primary-darker;
}

.button-secondary:disabled {
  color: @base-white;
  background-color: @base-grey;
}

/* INPUT */

/* TEXT */
.input-text {
  position: relative;
}

.input-text__input {
  width: 125px;
  height: 40px;
  padding: 8px 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid @primary-lighter;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-text__input::placeholder {
  border-color: @light-grey;
}

.input-text__input:focus {
  border-color: @primary-darker;
}

.input-text__input:disabled {
  color: @base-grey;
  border-color: @light-grey;
}

/* CHECKBOX */

.input-checkbox {
  display: flex;
  align-items: center;
}

.input-checkbox__input {
  width: 42px;
  height: 24px;
  margin: 0 10px 0 0;
  border: 2px solid @base-grey;
  box-sizing: border-box;
  opacity: 0;
}

.input-checkbox__mark {
  position: absolute;
  width: 42px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid @base-grey;
  border-radius: 12px;
  background-color: @base-grey;
  box-sizing: border-box;
}

.input-checkbox__input ~ .input-checkbox__mark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: auto;
  width: 20px;
  height: 20px;
  background-color: @base-white;
  border-radius: 50%;
}

.input-checkbox__input:checked ~ .input-checkbox__mark::before {
  left: auto;
  right: 0;
}

.input-checkbox__span {
  font-size: 16px;
  line-height: 24px;
}

.input-checkbox__input:hover ~ .input-checkbox__mark,
.input-checkbox__input:focus ~ .input-checkbox__mark {
  border-color: @primary-lighter;
  background-color: @primary-opacity;
}

.input-checkbox__input:checked ~ .input-checkbox__mark {
  border-color: @base-primary;
  background-color: @base-primary;
}

.input-checkbox__input:disabled ~ .input-checkbox__mark {
  border-color: @light-grey;
  background-color: @light-grey;
}

.input-checkbox__input:disabled ~ .input-checkbox__span {
  color: @base-grey;
}

.input-checkbox__input:disabled:checked ~ .input-checkbox__mark::before {
  background-color: @base-grey;
}

/* RADIO */

.input-radio {
  display: flex;
  align-items: center;
}

.input-radio__input {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  border: 2px solid @base-grey;
  box-sizing: border-box;
  opacity: 0;
}

.input-radio__mark {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  border: 2px solid @base-grey;
  border-radius: 50%;
  box-sizing: border-box;
}

.input-radio__input ~ .input-radio__mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.input-radio__input:checked ~ .input-radio__mark::before {
  background-color: @base-primary;
}

.input-radio__span {
  font-size: 16px;
  line-height: 24px;
  color: @base-black;
}

.input-radio__input:hover ~ .input-radio__mark,
.input-radio__input:focus ~ .input-radio__mark {
  border-color: @primary-lighter;
}

.input-radio__input:hover ~ .input-radio__mark::before,
.input-radio__input:focus ~ .input-radio__mark::before {
  background-color: @primary-opacity;
}

.input-radio__input:disabled ~ .input-radio__mark {
  border-color: @light-grey;
}

.input-radio__input:disabled ~ .input-radio__span {
  color: @base-grey;
}

.input-radio__input:disabled:checked ~ .input-radio__mark::before {
  background-color: @light-grey;
}

/* RANGE */

.input-range {
  position: relative;
  width: 100%;
  max-width: 318px;
  height: 24px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.input-range__input {
  z-index: 5;
  opacity: 0;
}

.input-range__track {
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: @light-grey;
}

.input-range__track--chosen {
  height: 4px;
}

.input-range__thumb {
  position: absolute;
  display: block;
  margin: auto 0;
  top: 0;
  height: 21px;
  width: 21px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: @base-white;
  border: 2px solid @base-white;
  outline: 2px solid @primary-lighter;
}

.input-range__thumb-min {
  left: 0;
}

.input-range__thumb-max {
  left: 90%;
}

/* Стилизация для браузеров */
/*
.input-range__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.input-range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}
.input-range__input::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}
.input-range__input::-ms-track {
  appearance: none;
  height: 4px;
}
.input-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: @base-white;
  border: 2px solid @primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -12px;
  pointer-events: auto;
  box-sizing: border-box;
}
.input-range__input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: @base-white;
  border: 2px solid @primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
.input-range__input::-ms-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: @base-white;
  border: 2px solid @primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
*/

/* SELECT */

.select-control {
  width: 165px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: @base-primary;
  border-radius: 4px;
  border: none;
}

.select-control:hover,
.select-control:focus {
  background-color: @base-secondary;
}

.select-control:active {
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: @tablet-width) {
  .input-range {
    width: 223px;
  }

  .input-text__input {
    width: 96px;
  }
}

@media (min-width: @desktop-width) {
  .input-range {
    width: 100%;
  }

  .input-text__input {
    width: 134px;
  }
}
