.swiper ol,
.swiper li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.new-product {
  padding: 20px 20px 60px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @base-black;
}

.new-product--1 {
  background-color: @flat-white;
}

.new-product--2 {
  background-color: @lavender-latte;
}

.new-product--3 {
  background-color: @espresso;
}

.new-product__badge {
  margin: 6px 0 4px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: @base-primary;
}

.new-product__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.new-product__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.new-product__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.new-product__price {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  del {
    margin-right: 6px;
    font-weight: 400;
    font-size: 16px;
    color: @base-primary;
  }
}

@media (min-width: @tablet-width) {
  .new-product {
    margin-bottom: 0;
    padding: 54px 80px 308px;
  }

  .new-product__picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -190px;
  }

  .new-product__img {
    width: 476px;
    height: 476px;
  }

  .new-product__name {
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 80px;
  }

  .new-product__description {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  .new-product__buy {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .new-product {
    padding-top: 175px;
    padding-bottom: 245px;
  }

  .new-product__wrapper {
    margin: 0 auto;
    padding-left: 655px;
    width: fit-content;
    text-align: left;
  }

  .new-product__picture {
    top: 30px;
    left: 50%;
    transform: translateX(-100%);
    bottom: 0;
  }

  .new-product__img {
    width: 600px;
    height: 600px;
  }

  .new-product__description {
    margin-bottom: 40px;
  }

  .new-product__buy {
    padding-left: 0;
    margin-left: 0;
  }
}
