.page-main__promo .swiper-button-prev,
.page-main__promo .swiper-button-next {
  width: 11px;
  height: 20px;
  margin-top: -12px;
}

.page-main__promo .swiper-button-prev {
  left: 4px;
}

.page-main__promo .swiper-button-next {
  right: 4px;
}

.page-main__promo .swiper-button-prev::after,
.page-main__promo .swiper-button-next::after {
  content: "";
  width: 11px;
  height: 20px;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-main__promo .swiper-button-next::after {
  transform: rotate(180deg);
}

.page-main__promo .swiper-pagination {
  display: none;
}

@media (min-width: @tablet-width) {

}
